* {
  transition: all 0.3s;
  font-family: Microsoft JhengHei;
  box-sizing: border-box;
}

body {
  background-color: #CDD4CA;
  color: #fff;
  position: relative;
  min-height: 100vh;
  overflow-y: scroll;
}

.search {
  padding: 20px 10px;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 999;
}

.addbg {
  background: #87AEB4 ;
	opacity: 0.6
}

.searching {
  background-color: white;
  border: 1px solid #fff;
  border-radius: 0;
  width: 100%;
}

.block {
  padding-top: 50px;
  padding-bottom: 100px;
}

h1 {
  width: 100%;
}

h3 {
  font-weight: 600;
}

.grid-item {
  padding: 10px;
  color: black;
  opacity: 1;
}

.animation {
  -webkit-animation: open 0.3s;
          animation: open 0.3s;
  opacity: 1;
}

.grid-item-content {
  background-color: #fff;
  padding: 10px;
}

.hover {
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}
.hover:hover img {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

img {
  width: 100%;
  max-height: ;
}

.description {
  border: 1px solid #fff;
  padding: 30px;
  line-height: 2;
  width: 100%;
}
.description a {
  color: #fff;
}

@-webkit-keyframes open {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes open {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.top {
  position: fixed;
  right: 10%;
  bottom: 3%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
  padding: 15px;
  cursor: pointer;
}
